@import url('https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-gray-100: rgba(10, 12, 17);
  --color-gray-200: rgba(5, 37, 44);
  --color-gray-300: rgba(5, 34, 40);
  --color-light-gray: rgba(250, 250, 250);
  --color-teal: rgba(25, 118, 134);
  --color-yellow: rgba(213, 234, 0);
  --color-darkgray: rgba(179, 179, 179);
  --color-primary-btn: rgba(36, 160, 181);
  --color-darkslategray-100: rgba(14, 70, 79);
  --color-darkslategray-200: '#052f35';
  --color-darkslategray-300: rgba(4, 30, 35);

  --font-jeju: 'JejuMyeongjo';
  --font-roboto: 'Roboto';
  --font-road-rage: 'Road Rage';
}

:root {
  font-family: 'JejuMyeongjo', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255);

  background: radial-gradient(
    52.52% 32.71% at 50% 97.66%,
    rgba(36, 160, 181, 0.2) 0%,
    rgba(36, 160, 181, 0) 100%
  );
  background-color: #02191d;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.event-detail-box {
  background: radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
}

.label {
  font-family: 'Roboto';
  font-size: 1rem;
  font-style: normal;
  color: #fafafa;
}

.ant-select-selector,
.ant-input,
.ant-input-prefix,
.ant-input::placeholder {
  color: #fafafa !important;
}

.ant-input {
  border: 1px solid #07373f;
  border-radius: 12px;
}